.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: black solid 1px;
    width: 1000px;
}

.boxGreen {
    background-color: lightgreen;
    border: black solid 1px;
    width: 332px;
    height: 100px;
}

.boxRed {
    background-color: crimson;
    border: black solid 1px;
    width: 332px;
    height: 100px;
}

.tallBox {
    height: 250px;
    grid-row-start: 4;
    grid-row-end: 7;
}

.wideBox {
    width: 998px;
    grid-column-start: 1;
    grid-column-end: 4;
}